In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data/movielens_100k/ml-100k/u.data', sep="\t", header=None)
data.columns = ['user id', 'movie id', 'rating', 'timestamp']
data.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [5]:
item_freq = data["movie id"].value_counts()
print(item_freq)

50      583
258     509
100     508
181     507
294     485
       ...
852       1
1505      1
1653      1
1452      1
1641      1
Name: movie id, Length: 1682, dtype: int64

In [12]:
sum_rating = data.groupby(["movie id"]).sum()["rating"]
print(sum_rating)

movie id
1       1753
2        420
3        273
4        742
5        284
        ...
1678       1
1679       3
1680       2
1681       3
1682       3
Name: rating, Length: 1682, dtype: int64

In [14]:
merger_check = pd.concat([item_freq, sum_rating], axis=1)
merger_check.columns = ["freq", "sum_rate"]

      freq  sum_rate
50     583      2541
258    509      1936
100    508      2111
181    507      2032
294    485      1531
...    ...       ...
852      1         1
1505     1         4
1653     1         5
1452     1         4
1641     1         3

[1682 rows x 2 columns]

In [20]:
temp = merger_check[merger_check > 20]
print(temp["sum_rate"].div(temp["freq"]))

50      4.358491
258     3.803536
100     4.155512
181     4.007890
294     3.156701
          ...
852          NaN
1505         NaN
1653         NaN
1452         NaN
1641         NaN
Length: 1682, dtype: float64